* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  font-family: "Bai Jamjuree", sans-serif;
  background-color: #fff;
  overflow-x: hidden;
}

section.home {
  height: 90vh;
  width: 100%;
  background-image: url(../images/bg-header-desktop.png);
  background-repeat: no-repeat;
  background-size: 100% 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 130px;
}
section.home h1 {
  color: hsl(210deg, 10%, 33%);
  font-weight: 600;
  font-size: 2.2rem;
  margin: 30px 0;
}
section.home p {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
  color: hsl(201deg, 11%, 66%);
  text-align: center;
  font-weight: 400;
  font-size: 18px;
}

.btns {
  width: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
}
.btns input {
  width: 200px;
  height: 50px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border: none;
  outline: none;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.btns input:first-child {
  background: hsl(171deg, 66%, 44%);
  box-shadow: 0px 4px 0px 0px hsl(171deg, 66%, 36%);
}
.btns input:last-child {
  background: hsl(233deg, 100%, 69%);
  box-shadow: 0px 4px 0px 0px hsl(233deg, 65%, 57%);
}
.btns input:hover {
  opacity: 0.7;
}

.service {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.service .header h2 {
  color: hsl(210deg, 10%, 33%);
  font-weight: 600;
  font-size: 1.7rem;
  margin: 30px 0;
  text-align: center;
}
.service .header p {
  width: 650px;
  margin-bottom: 40px;
  color: hsl(201deg, 11%, 66%);
  text-align: center;
  font-weight: 400;
  font-size: 18px;
}
.service .main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.service .main .left {
  background-image: url(../images/image-computer.png);
  width: 50%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 90%;
  background-position: -35%;
}
.service .main .right {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px 30px;
  align-items: flex-start;
}
.service .main .right .box {
  width: 350px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.service .main .right .box h3 {
  color: hsl(210deg, 10%, 33%);
  font-weight: 600;
  margin: 10px 0;
  width: 100%;
  align-self: flex-start;
}
.service .main .right .box p {
  margin-bottom: 40px;
  color: hsl(201deg, 11%, 66%);
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 20px;
}

.content {
  margin-top: 80px;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.content .head {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.content .head h2 {
  color: hsl(210deg, 10%, 33%);
  font-weight: 600;
  font-size: 2.2rem;
  margin: 30px 0;
}
.content .head p {
  width: 550px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
  color: hsl(201deg, 11%, 66%);
  text-align: center;
  font-weight: 400;
  font-size: 18px;
}
.content img {
  max-width: 100%;
}

.description {
  margin-top: 80px;
  width: 100%;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.description .head {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.description .head h2 {
  color: hsl(210deg, 10%, 33%);
  font-weight: 600;
  font-size: 2.2rem;
  margin: 30px 0;
}
.description .head p {
  width: 550px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
  color: hsl(201deg, 11%, 66%);
  text-align: center;
  font-weight: 400;
  font-size: 18px;
}
.description .boxes {
  width: 100%;
  padding: 30px 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.description .boxes .box {
  margin-top: 50px;
  width: 350px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.description .boxes .box h3 {
  color: hsl(210deg, 10%, 33%);
  font-weight: 600;
  margin: 10px 0;
  width: 100%;
  text-align: center;
}
.description .boxes .box p {
  margin-bottom: 40px;
  color: hsl(201deg, 11%, 66%);
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 20px;
  text-align: center;
}

.company {
  margin-top: 80px;
  width: 100%;
  min-height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 120px;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 40px;
}

.download {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0px 60px;
}
.download h2 {
  color: hsl(210deg, 10%, 33%);
  font-weight: 600;
  font-size: 1.7rem;
  margin: 30px 0;
}
.download p {
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
  color: hsl(201deg, 11%, 66%);
  text-align: center;
  font-weight: 400;
  font-size: 18px;
}

.contact {
  margin-top: 80px;
  width: 100%;
  min-height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsla(202deg, 11%, 66%, 0.26);
  padding: 0px 120px;
  justify-content: space-between;
  flex-wrap: wrap;
}
.contact .logo img {
  width: 60px;
}
.contact ul {
  width: 70%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}
.contact ul li {
  list-style-type: none;
  width: 30%;
  height: 30px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  color: hsl(201deg, 11%, 66%);
  cursor: pointer;
}
.contact ul li:hover {
  color: hsl(171deg, 66%, 44%);
}
.contact .media {
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  cursor: pointer;
}
.contact .media svg path {
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.contact .media svg path:hover {
  fill: hsl(171deg, 66%, 44%);
}

@media (max-width: 768px) {
  section.home {
    background-image: url(../images/bg-header-mobile.png);
    background-repeat: no-repeat;
    background-size: 100% 50%;
    padding: 120px 40px;
  }
  section.home h1 {
    font-size: 1.6rem;
    text-align: center;
  }
  section.home p {
    width: 100%;
  }
  section.home .btns {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    justify-content: space-between;
  }
  section.home .btns input {
    width: 100%;
  }
  section.home .btns input:last-child {
    margin-top: 30px;
  }
  section.service {
    padding: 10px 40px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  section.service .header h2 {
    font-size: 1.6rem;
    text-align: center;
  }
  section.service .header p {
    width: 100%;
  }
  section.service .main {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  section.service .main .left {
    height: 450px;
    width: 100%;
    background-image: url(../images/image-computer.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
  }
  section.service .main .right {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  section.content {
    padding: 10px 40px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  section.content .head h2 {
    font-size: 1.6rem;
    text-align: center;
  }
  section.content .head p {
    width: 100%;
  }
  section.description {
    padding: 10px 40px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  section.description .head {
    margin-bottom: 10px;
  }
  section.description .head h2 {
    font-size: 1.6rem;
    text-align: center;
  }
  section.description .head p {
    width: 100%;
  }
  section.description .boxes {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  section.company {
    height: 80vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    justify-content: space-between;
  }
  section.download {
    padding: 10px 40px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  section.download h2 {
    font-size: 1.6rem;
    text-align: center;
  }
  section.download p {
    width: 100%;
  }
  section.download .btns {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    justify-content: space-between;
  }
  section.download .btns input {
    width: 100%;
  }
  section.download .btns input:last-child {
    margin-top: 30px;
  }
  section.contact {
    padding: 10px 40px;
    width: 100%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  section.contact ul {
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  section.contact ul li {
    list-style-type: none;
    width: 100%;
    height: 35px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    color: hsl(201deg, 11%, 66%);
    cursor: pointer;
    text-align: center;
  }
  section.contact .media {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    cursor: pointer;
    height: 40px;
  }
}/*# sourceMappingURL=style.css.map */